<br />
<div>
    <h2 style="text-align: center; padding-top: 40px; font-size: 25px;">AUTO</h2>
    <span><a routerLink="/home">Back-Home</a></span></div>
<div>
  
  <table>
    <thead>
      <tr>
        <th>Field Name</th>
        <th>Select Field</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rows">
        <td><input type="text" [(ngModel)]="row.field" /></td>
        <td>
          <select [(ngModel)]="row.value">
            <option value="name">Name</option>
            <option value="address">Address</option>
            <option value="company">Company</option>
            <option value="ratingplan">Rating Plan</option>
            <option value="effectiveDate">Effective Date</option>
            <option value="defaultStateTerritory">Default State/Territory</option>
            <option value="city">City</option>
            <option value="years">Year</option>
            <option value="make">Make</option>
            <option value="siccode">SIC Code</option>
            <option value="zipcode">Zip Code</option>
            <option value="county">County</option>
            <option value="dateOfLoss">Date of Loss</option>
            <option value="legalstatus">Legal Status</option>
          </select>
        </td>
        <td><button (click)="deleteRow(row)">Delete</button></td>
      </tr>
    </tbody>
  </table>
<br>
  <table>
    <tbody>
      <thead>
        <tr>
        <th>
          <button (click)="addRow()">Add Column</button>
        </th>
        <th>
          <button  (click)="generate()"><a href=""></a> Generate Data</button>
        </th>
        <th>
          <input id="rowNumber" type="number" placeholder="rows"  [(ngModel)]="rowCount">
        </th>
        
      </tr>
      </thead>
    </tbody>
  </table>
</div>
<table id="table" style="display:none">
  <thead>
    <tr >
      <th *ngFor="let row of savedData">{{row.field}}</th>
    
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let col of objectArray2" >
      <td *ngFor="let row of col">{{row}}</td>
     
    </tr>
  </tbody>
</table>
