<br />
<div>
    <h2 style="text-align: center; padding-top: 40px; font-size: 25px;">CASUALITY</h2>
    <span><a routerLink="/home">Back-Home</a></span></div>

<div>
  <table>
    <thead>
      <tr>
        <th>Field Name</th>
        <th>Select Field</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rows">
        <td><input type="text" [(ngModel)]="row.field" /></td>
        <td>
          <select [(ngModel)]="row.value">
            <option value="model">Model</option>
            <option value="style">Style was the vehicle being used for business</option>
            <option value="vehicleLocation">Vehicle Location</option>
            <option value="lossParty">Loss Party</option>
            <option value="ownership">Ownership Status</option>
            <option value="owner">Owner</option>
            <option value="otherContact">Other Contact</option>
            <option value="relationship">Relationship</option>
            <option value="witness">Who was the witness?</option>
            <option value="where">Where Were They</option>
            <option value="person">Select a Person</option>
            <option value="lossCause">Loss Cause</option>
            <option value="lossTime">Loss Time/option>
            <option value="lossDesc">Loss Description</option>
            <option value="lossLocation">Loss Location</option>
            <option value="lossReport">Loss Reported By</option> 
            <option value="vehicleDrivable">Vehicle Drivable</option>
            <option value="vehicleTow">Was the Vechile Towed?</option>
            <option value="airbags">Did the Airbags Deploy?</option>
            <option value="damage">How Severe Is the Damage</option>
            <option value="impact">Point of First Impact</option>
            <option value="injury">Injured Person</option>
            <option value="injuryDesc">Injury Description</option>
            <option value="injuryType">Type of Injury</option>
            <option value="treater">Treater At Scene?</option>
            <option value="agency">Agency</option>
            <option value="agencyName">Agency Name</option>
            <option value="agencyType">Agency Type</option>
            <option value="firstReportLoss">First Report of Loss</option>
           
          </select>
        </td>
        <td><button (click)="deleteRow(row)">Delete</button></td>
      </tr>
    </tbody>
  </table>
<br>
  <table>
    <tbody>
      <thead>
        <tr>
        <th>
          <button (click)="addRow()">Add Column</button>
        </th>
        <th>
          <button  (click)="generate()"><a href=""></a> Generate Data</button>
        </th>
        <th>
          <input id="rowNumber" type="number" placeholder="rows"  [(ngModel)]="rowCount">
        </th>
        
      </tr>
      </thead>
    </tbody>
  </table>
</div>
<table id="table" style="display:none">
  <thead>
    <tr >
      <th *ngFor="let row of savedData">{{row.field}}</th>
    
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let col of objectArray2" >
      <td *ngFor="let row of col">{{row}}</td>
     
    </tr>
  </tbody>
</table>
