<br />
<div>
    <h2 style="text-align: center; padding-top: 40px; font-size: 25px;">Specality Claim</h2>
    <span><a routerLink="/home">Back-Home</a></span></div>
<div>
  
  <table>
    <thead>
      <tr>
        <th>Field Name</th>
        <th>Select Field</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rows">
        <td><input type="text" [(ngModel)]="row.field" /></td>
        <td>
          <select [(ngModel)]="row.value">
            <option value="dateOfLoss">Date Of Loss</option>
            <option value="claimType">Type of Claim</option>
            <option value="claimOrg">Claim Organization</option>
            <option value="claimTitle">Claim Title</option>
            <option value="claimDesc">Claim Description</option>
            <option value="severity">Severity</option>
            <option value="lossCode">Loss Code Group</option>
            <option value="lossType">Loss Type</option>
            <option value="potential">Potential</option>
            <option value="currency">Currency</option>
            <option value="collisions">Potential Amount</option>
            <option value="claimsType">Claim Type</option>
            <option value="dateReceived">Date Received By LIU</option>
            <option value="claimantType">Claimant Type</option>
            <option value="claimantRep">Claimant Representative</option>
            <option value="damageDesc">Damage Description</option>
            <option value="lossEstimate">Loss Estimate Currency</option>
            <option value="deductible">Deductible</option>
            <option value="insurer">Insurer</option>
            <option value="role">Role</option>
            <option value="active">Active?</option>
            <option value="firstName">First Name</option>
            <option value="lastName">Last Name</option>
            <option value="vendor">Preferred Vendor</option>
            <option value="authority">Delegated Authority</option>
            <option value="exposure">Exposure</option>
            <option value="costType">Cost Type</option>
            <option value="costCategory">Cost Category</option>
            <option value="reserving">Reserving</option>
            <option value="reserve">New O/S Reserve</option>
            <option value="exposure1">Exposure</option>
            <option value="coverage">Coverage</option>
            <option value="reserveCurrency">Reserving Currency</option>
            <option value="recoveryReserve">New O/S Recovery Reserve</option>
            <option value="deductibleRecovery">Deductible Recovery Reduction Reason</option>
            <option value="deductible1">Deductible</option>
            <option value="payer">Payer</option>
            <option value="reserveLine">Reserve Line</option>
            <option value="recoveryAmount">Recovery Amount</option>
            <option value="reportableTax">Reportable Tax Type</option>
            <option value="method">Method</option>
            <option value="payeeName">Payee Name</option>
            <option value="payment">Payment Method</option>
            <option value="payOrder">Pay TO The Order Of</option>
            <option value="mail">Mail To Same AS</option>
            <option value="payee">Payee</option>
            <option value="mailingAddress">Mailing Address</option>
            <option value="eftRecord">Select EFT Record</option>
            <option value="finalPayment">Is This THe Final Payment?</option>
            <option value="paymentAmt">Payment Amount</option>
            <option value="incomeLocation">Source Income Location</option>

          </select>
        </td>
        <td><button (click)="deleteRow(row)">Delete</button></td>
      </tr>
    </tbody>
  </table>
<br>
  <table>
    <tbody>
      <thead>
        <tr>
        <th>
          <button (click)="addRow()">Add Column</button>
        </th>
        <th>
          <button  (click)="generate()"><a href=""></a> Generate Data</button>
        </th>
        <th>
          <input id="rowNumber" type="number" placeholder="rows"  [(ngModel)]="rowCount">
        </th>
        
      </tr>
      </thead>
    </tbody>
  </table>
</div>
<table id="table" style="display:none">
  <thead>
    <tr >
      <th *ngFor="let row of savedData">{{row.field}}</th>
    
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let col of objectArray2" >
      <td *ngFor="let row of col">{{row}}</td>
     
    </tr>
  </tbody>
</table>
